// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the H3ULCB Kingfisher board
 * running XEN hypervisor
 *
 * Copyright (C) 2016-2018 Renesas Electronics Corp.
 * Copyright (C) 2016 Cogent Embedded, Inc.
 */

#include "r8a77951-h3ulcb-4x2g-kf-domd.dtsi"

/ {
	rvgc {
		displays {
			display-0 {
				display-map = <3>;
				layers {
					primary{
						/* Layer shold display the information at all display */
						layer-map=<0x3>;
						size-w=<1280>;
						size-h=<720>;
						pos-x=<0>;
						pos-y=<0>;
						pos-override;
					};
				};
			};
		};
	};
};
