[Unit]
Description=3D part of dual-rendering demo
After=dbus.service multi-user.target

[Service]
Environment=QT_LOGGING_RULES=qt.qpa.*=true
Environment=QT_QPA_PLATFORM=eglfs
Environment=QT_QPA_EGLFS_KMS_CONFIG="/etc/eglfs.conf"
ExecStart=/usr/bin/dual-render-3d-part
ExecStop=/usr/bin/killall -s KILL dual-render-3d-part
Type=simple

[Install]
WantedBy=multi-user.target
